@import "tailwindcss";

@custom-variant dark (&:is(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  top: 0 !important;
}

/* ===== Google Translate: Ocultar interfaz nativa ===== */
#google_translate_element {
  display: none !important;
}

.goog-te-banner-frame {
  display: none !important;
}

.skiptranslate {
  display: none !important;
}

.goog-te-spinner-pos {
  display: none !important;
}

/* Google fuerza un iframe fixed en top, lo ocultamos */
body > .skiptranslate > iframe {
  display: none !important;
}
